@{
    ViewBag.Title = "Cтраница";
}

>
<p>
    This was my first acquaintance with ASP.NET technology. <br>
    Due to lack of knowledge, the task was not completed in full. <br>
    This work was a great motivation for me to continue studying in this direction <br>
    Thanks for your time <br>

</p>
